<h1 class="welcome">Welcome !</h1>
<div class="container">
    <div class="ontop">
<div class=" jumbotron">
    <div>    <h1 class="alpha">Savier</h1>
   <p class="logo-text">No better way to track your spending :)</p>
</div>
<small class="smalll">Create an account?</small>
<%= link_to "Sign up now", "users/sign_up", class: "btn btn-primary btn-lg btnn" %>

<small class="smalll">Already have an account?</small>
<%= link_to "Login", "users/sign_in", class: "btn btn-primary btn-lg b" %>
</div>
</div>
</div>
