  <div class="container">
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <% flash.each do |name, msg| %>
<div class='style-alert alert alert-<%="#{name}"%> alert-dismissible fade show' role="alert">
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)%>
  <button type="button" class="btn-close in" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  <% end %>
  </div>
  </div>
  </div>